.info-footer{
    display: flex;
    justify-content: center;
    gap: 150px;
}

.ul-content{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding: 10;
}

h1, h2{
    font-size: 24px;
}
